#hero {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: calc(180px - var(--padding-base)) 0;

  @media screen and (max-width: $breakpoint-mobile) {
    flex-direction: column;
    align-items: center;
    padding: 6em var(--padding-base);

    .blendable-image {
      margin-left: 50%;
      transform: translate(-50%, 0);
    }
  }
}

.hero {
  @media screen and (max-width: $breakpoint-mobile) {
    &__text {
      text-align: center;
    }
  }

  &__image {
    height: 110px;
    margin-top: calc(0.2 * var(--font-size-huge));
    margin-right: calc(2 * var(--padding-base));

    @media screen and (max-width: $breakpoint-mobile) {
      margin: 0 0 var(--padding-base) 0;
    }
  }
  &__title {
    margin: 0;
    line-height: 1.2em;
  }
  &__subtitle {
    margin: var(--padding-base) 0 0;
    font-weight: 500;
  }
  &__app-store {
    margin-top: var(--padding-base);
    height: 50px;
  }
}
