.blendable-image {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  animation: fadeIn calc(2 * var(--animation-slow));

  & img,
  & video {
    position: static;
    max-width: 100%;
    max-height: 100%;

    opacity: 1;
    transition: opacity var(--animation-slow);

    body.dark & {
      opacity: 0;
    }
  }

  & img + img,
  & video + video {
    transform: translate(-100%);
    opacity: 0;

    body.dark & {
      opacity: 1;
    }
  }
}
