.theme-switcher {
    display: flex;
    flex-direction: row;
    align-items: center;

    --toggle-width: 24px;
    --toggle-height: 14px;
    --toggle-border: 2px;
    --toggle-circle-size: 12px;
}

.theme-switcher__icon {
}

.theme-switcher__toggle {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0 2px;
    margin: 0 0.25em;
    width: var(--toggle-width);
    height: var(--toggle-height);
    border-radius: var(--toggle-circle-size);
    border: var(--toggle-border) solid var(--text-color);

    cursor: pointer;
}

.theme-switcher__toggle__input {
    display: none;
}

.theme-switcher__toggle__circle {
    position: relative;
    display: block;
    width: var(--toggle-circle-size);
    height: var(--toggle-circle-size);
    border-radius: 50%;
    background: var(--text-color);

    transition: transform var(--animation-fast) ease-out, left var(--animation-fast) ease-out;

    left: 0%;
    transform: translate(0%);
}
.dark .theme-switcher__toggle__circle {
    left: 100%;
    transform: translate(-100%);
}
